<h1>Messages</h1>

{{#each}}
<p>{{name}}: {{message}}</p>
{{/each}}

<form {{action "createMessage" on="submit"}}>
  <div class="input">
    <label for="name">name:</label>
    {{input name="name" value=name}}
  </div>
  <div class="input">
    <label for="message">message:</label>
    {{input name="message" value=message}}
  </div>
  <div class="actions">
    <button type="submit">add message</button>
  </div>
</form>

<h1>Why you no update?</h1>
{{#each}}
  <p>{{formattedMessage}}</p>
{{/each}}

